<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="layout-footer__contacts">
        <div class="layout-wrapper__container clearfix">
            <ul class="contact">
                <li class="contact__item">
                    <div class="contact__item__title">АДРЕС:</div>
                    <div class="contact__item__content">г. Краснодар, ул. 4-я линия, д. 57</div>
                </li>
                <li class="contact__item">
                    <div class="contact__item__title">Е-MAIL:</div>
                    <div class="contact__item__content">memorial93@mail.ru</div>
                </li>
                <li class="contact__item">
                    <div class="contact__item__title">ТЕЛЕФОНЫ:</div>
                    <div class="contact__item__content">+7 861 222 25 61; + 7 901 490 54 74</div>
                </li>
            </ul>
        </div>
    </div>
    
	<div class="layout-footer__wrapper">
		
		<div class="layout-footer__checking-account">
			ИНН 2309104908     КПП 231101001   р/с 40702810600000001835 в АО "ЮМК БАНК" г. Краснодар   к/с 30101810600000000830   БИК 040349830<br>ОГРН 1072309017241   ОКПО 81815563
		</div>

		<div class="layout-footer__copiright copiright">
            <div class="copiright__text">Copyright © 2016 «Мемориал»<br>Все права защищены</div>
        </div>
		
		<div class="layout-footer__web-studio web-studio">
			Разработка сайта <a href="http://rus-technologia.ru/" class="web-studio__link" target="_blank">«Русь-технология»</a>
		</div>

	</div>
</footer>