<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<nav class="navigation" id="navigation">
	<div class="navigation__wrapper">
		
		<div class="navigation__lock">
			<div class="navigation__consult">
				<a href="#popup-feedback" class="navigation__consult__button j-open-popup" data-title="Заказать консультацию">Заказать консультацию</a>
			</div>

			<ul class="navigation__list">
			    
			    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			    	<a href="../markup/about.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'about'){ _current}">
			    		<span class="navigation__link__name" itemprop="name">О нас</span>
			    	</a>
		    	</li>

			    <li class="navigation__item _dropdown" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			    	<a href="../markup/service.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'service'){ _current}">
			    		<span class="navigation__link__name" itemprop="name">Ритуальные услуги</span>
			    	</a>

					<div class="navigation__submenu submenu clearfix">
						<div class="submenu__column">
							<div class="submenu__header">ОСНОВНЫЕ УСЛУГИ</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Похороны (Цены на захоронение)</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Изготовление надписей</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Изготовление памятников</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Изделия из металла</a></li>
							</ul>
						</div>

						<div class="submenu__column">
							<div class="submenu__header">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Отправка - приемка «Груз 200»</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Кремация</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Музыкальное сопровождение</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Демонтажные и монтажные работы</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Вынос гроба с телом умершего</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Уход за могилой</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Предоставление траурного зала</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Шатер с тумбой под гроб, стол, стулья</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Биотуалет и рукомойник</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Убранство могилы</a></li>
							</ul>
						</div>

						<div class="submenu__column">
							<div class="submenu__header">&nbsp;</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Поминальная трапеза в кафе</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">ВИП грузчики на похоронах, одетые в костюмы</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Cингуматор (ритуальный лифт)</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Предоставление элитного катафального транспорта</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Изготовление траурных лент на венок</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Реставрация памятников, оград</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Оформление кремации</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Помощь в выборе места захоронения</a></li>
							</ul>
						</div>

						<div class="submenu__column">
							<div class="submenu__header">&nbsp;</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Услуга организатора похорон</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Помощь в оформлении всех необходимых документов</a></li>
							</ul>
						</div>
					</div>
		    	</li>
		
			    <li class="navigation__item _dropdown" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			    	<a href="../markup/catalog.html" itemprop="url" class="navigation__link _simple@@if (typeof current !== 'undefined' && current == 'catalog'){ _current}">
			    		<span class="navigation__link__name" itemprop="name">Ритуальные товары</span>
			    	</a>
		
					<div class="navigation__submenu submenu clearfix">
						<div class="submenu__column">
							<div class="submenu__header">ГРОБЫ</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Обитые тканью</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Полированные</a></li>
							</ul>
							<div class="submenu__header">ВЕНКИ</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Из натуральных цветов</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Из искусственных цветов</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">На заказ</a></li>
							</ul>
						</div>
						<div class="submenu__column">
							<div class="submenu__header">РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</div>
							<ul class="submenu__nav">
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Кресты</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Лампады</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Обувь</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Одежда</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Подушки</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Покрывала</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Платки носовые</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Набор погребальный</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Покрывало с наволочкой</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Рамки для фотографий</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Свечи</a></li>
								<li class="submenu__nav__item"><a href="" class="submenu__nav__link">Прочее</a></li>
							</ul>
						</div>
					</div>

		    	</li>
		
			    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			    	<a href="../markup/articles.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'articles'){ _current}">
			    		<span class="navigation__link__name" itemprop="name">Статьи</span>
			    	</a>
		    	</li>
		
			    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			    	<a href="../markup/reviews.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'reviews'){ _current}">
			    		<span class="navigation__link__name" itemprop="name">Отзывы</span>
			    	</a>
		    	</li>

			    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
			    	<a href="../markup/contacts.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'contacts'){ _current}">
			    		<span class="navigation__link__name" itemprop="name">Контакты</span>
			    	</a>
		    	</li>

			</ul>
		</div>
	</div>
</nav>

<header class="layout-header@@if (typeof addclass !== 'undefined' && addclass !== ''){ @@addclass}" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="../markup/index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
			<span class="logo__sign">
				<img src="../images/logo.png" class="logo__sign__src" alt="">
			</span>

			<span class="logo__name" itemprop="name">
				<span class="logo__name__decoration">РитуальноЕ агентство «МЕМОРИАЛ»</span>
			</span>
		</a>

	</div>
	
	@@if (typeof addclass !== 'undefined' && addclass !== ''){
	<div class="slider">

		<div class="slider__content">
			<div class="slider__content__text">
				Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби.<br>Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир.
			</div>

			<div class="slider__content__phone">
	            <a href="" class="slider__content__phone__link">+ 7 861 222 25 61</a>
	        </div>
		</div>

		<div class="slider__wrapper j-slider j-slider-calc j-disable-navigation">
			
			<div class="slider__item slick-slide">
				<div class="slider__item__wrapper">
					<div class="slider__item__inner">
						
						<div class="slider__item__middle">
							<div class="slider__item__middle__text">
								<div class="slider__item__title">
									Что делать в случае смерти человека?
								</div>

								<div class="slider__item__more">
									<a href="" class="slider__item__more__link">Подробнее</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="slider__item__image" style="background-image: url(/images/slider/1.jpg);"></div>
			</div>
			
			<div class="slider__item slick-slide">
				<div class="slider__item__wrapper">
					<div class="slider__item__inner">
						
						<div class="slider__item__middle">
							<div class="slider__item__middle__text">
								<div class="slider__item__title">
									Что делать?
								</div>

								<div class="slider__item__more">
									<a href="" class="slider__item__more__link">Подробнее</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="slider__item__image" style="background-image: url(/images/slider/2.jpg);"></div>
			</div>

			<div class="slider__item slick-slide">
				<div class="slider__item__wrapper">
					<div class="slider__item__inner">
						
						<div class="slider__item__middle">
							<div class="slider__item__middle__text">
								<div class="slider__item__title">
									Что в случае смерти человека?
								</div>

								<div class="slider__item__more">
									<a href="" class="slider__item__more__link">Подробнее</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="slider__item__image" style="background-image: url(/images/slider/3.jpg);"></div>
			</div>

			<div class="slider__item slick-slide">
				<div class="slider__item__wrapper">
					<div class="slider__item__inner">
						
						<div class="slider__item__middle">
							<div class="slider__item__middle__text">
								<div class="slider__item__title">
									Что делать человека?
								</div>

								<div class="slider__item__more">
									<a href="" class="slider__item__more__link">Подробнее</a>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="slider__item__image" style="background-image: url(/images/slider/4.jpg);"></div>
			</div>

		</div>

	</div>
	}
</header>

<div class="warning-block j-warning-block">
	<div class="warning-block__icon j-warning-trigger"></div>
	<div class="warning-block__background">
		<div class="warning-block__content">
			Не доверяйте агенту, который позвонил Вам!<br>Информация о смерти была продана недобросовестными сотрудниками полиции или морга.
		</div>
	</div>
</div>

@@include('../popup/_demo.html')