<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<nav class="navigation" id="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
		    
		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/about.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'about'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">О нас</span>
		    	</a>
	    	</li>

		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/service.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'service'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Ритуальные услуги</span>
		    	</a>
	    	</li>
	
		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/catalog.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'catalog'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Ритуальные товары</span>
		    	</a>
	    	</li>
	
		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/articles.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'articles'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Статьи</span>
		    	</a>
	    	</li>
	
		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/reviews.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'reviews'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Отзывы</span>
		    	</a>
	    	</li>

		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/contacts.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'contacts'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Контакты</span>
		    	</a>
	    	</li>

		</ul>

		<a href="#" class="navigation__consult">Заказать консультацию</a>

	</div>
</nav>

<header class="layout-header@@if (typeof addclass !== 'undefined' && addclass !== ''){ @@addclass}" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="/markup/index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
			<span class="logo__sign">
				<img src="/images/logo.png" class="logo__sign__src" alt="">
			</span>
			<span class="logo__name" itemprop="name">РитуальноЕ агентство «МЕМОРИАЛ»</span>
		</a>

	</div>
	
	@@if (typeof addclass !== 'undefined' && addclass !== ''){
	<div class="slider">
		
		<ul class="slider__dots">
			<li class="active"><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>

		<div class="slider__item">

			<div class="slider__item__wrapper">
				<div class="slider__item__inner">
					
					<div class="slider__item__middle">
						<div class="slider__item__middle__text">
							<div class="slider__item__title">
								Что делать в случае смерти человека?
							</div>

							<div class="slider__item__more">
								<a href="" class="slider__item__more__link">Подробнее</a>
							</div>
						</div>
					</div>
					
					<div class="slider__item__content">
						Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби.<br>Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир.
					</div>

					<div class="slider__item__phone">
	                    <a href="" class="slider__item__phone__link">+ 7 861 222 25 61</a>
	                </div>
				</div>
			</div>

			<div class="slider__item__image" style="background-image: url(/images/header-image.jpg);"></div>

		</div>
	</div>
	}
</header>
