.article-item {
    clear: both;
    margin-bottom: 40px;
    padding-bottom: 45px;
    background: url(../images/articles-dash.png) 50% 100% no-repeat;
    
    &._single {
        margin-bottom: 0;
    }

    &__photo {
        width: 232px;
        height: 172px;
        float: left;
        padding: 6px;
        display: block;
        text-align: center;
        margin-right: -232px;
        position: relative;
        z-index: 10;
        border: 1px solid $c-hint-of-red;

        &__src {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    &__content {
        width: 100%;
        float: left;
        padding-left: 265px;

        &._no-photo {
            padding-left: 0;
        }
    }

    &__date {
        color: $c-white;
        height: 20px;
        padding: 0 9px;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 10px;
        display: inline-block;
        background-color: $c-golden-sand;
        border-radius: 2px;
    }

    &__title {
        clear: both;
        color: $c-black;
        display: block;
        font-family: $font-italic;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 0.92;
        margin-bottom: 15px;
        text-decoration: none;
    }

    &__image {
        clear: both;
        font-size: 0;
        text-align: center;
        margin-bottom: 50px;

        &__src {
            height: auto;
            max-width: 100%;
        }
    }

    &__body {
        color: $c-black;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 10px;

        p {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &__description {
        color: $c-black;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 10px;

        p {
            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__more {
        clear: both;

        &__link {
            color: #5f2f00;
            font-family: $font-italic;
            font-size: 1.4rem;
            font-weight: 700;
            font-style: italic;
            line-height: 1;
            transition: color $a-time;

            &:hover {
                color: $c-gold;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 782px) {
    .article-item {
        &__title {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        &__description {
            overflow: hidden;
            max-height: 88px;

            &, p {
                font-size: 1.4rem;
            }
        }
    }
}
@media only screen and (max-width: 568px) {
    .article-item {
        &__photo {
            width: 100%;
            text-align: center;
            float: none;
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__content {
            padding-left: 0;
        }
    }
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}