.button {
    height: 40px;
    padding: 0 32px;

    color: $c-white;
    font-family: $font-italic;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    
    @extend %button;
    
    border: 0;
    background-color: #5f2f00;

    &:visited {
        color: #fff;
    }

    &_submit {
        display: inline-block;
        vertical-align: middle;
    }

    &:hover, &:focus {
        background-color: $c-gamboge;
    }

    &.disabled {
        background: #ccc !important;
        cursor: not-allowed !important;
        background: #ccc !important;

        &, &:hover {
            -webkit-box-shadow: none !important;
            box-shadow:none !important;
            background: #ccc !important;
        }
    }
}