.contact {
    clear: both;
    font-size: 0;
    height: $footer-contacts;
    text-align: center;
    line-height: $footer-contacts;

    &__item {
        width: 33.333333333%;
        text-align: center;
        line-height: 0;
        display: inline-block;
        vertical-align: middle;

        &__title {
            color: $c-gold;
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        &__content {
            color: #252525;
            font-size: 1.6rem;
            line-height: 1.2;
        }
    }
}