.contact {
    clear: both;
    font-size: 0;
    height: $footer-contacts;
    text-align: center;
    line-height: $footer-contacts;

    &__item {
        width: 33.333333333%;
        text-align: center;
        line-height: 0;
        display: inline-block;
        vertical-align: middle;

        &__title {
            color: $c-gold;
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        &__content {
            color: #252525;
            font-size: 1.6rem;
            line-height: 1.2;
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {
    .contact {
        height: auto;
        line-height: 1;
        padding: 30px 10px;

        &__item {
            width: 100%;
            display: block;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}