.gallery {
    clear: both;
    font-size: 0;
    line-height: 0;
    margin: 0 -30px;

    &__item {
        width: 33.333333333%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 40px;
        text-align: center;

        &__link {
            width: 320px;
            display: block;
            font-size: 0;
            padding: 20px;
            outline: none;
            position: relative;
            background-color: $c-white;
            border: 1px solid #e2e2e2;
            
            &:before {
                content: "";
                display: block;
                padding-top: 76.315789474%;
            }

            &:hover {
                border-color: $c-golden-sand;
            }
        }

        &__image {
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 20px;
            top: 20px;
            text-align: center;

            &:before {
                content: "";
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            &__src {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                border-radius: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__caption {}
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 782px) {
    .gallery {
        text-align: center;

        &__item {
            width: 50%;
            max-width: 320px;
            margin: 0 8px 30px;
        }
    }
}
@media only screen and (max-width: 568px) {
    .gallery {
        &__item {
            width: 100%;
            margin: 0 0 25px;
        }
    }
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}