.layout-phone {
    clear: both;
    text-align: center;
    margin-bottom: 25px;

    &__title {
        clear: both;
        font-size: 1.6rem;
        line-height: 1.5;
        margin-bottom: 35px;
    }

    &__item {
        text-align: center;

        &__link {
            color: $c-gold;
            height: 56px;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 56px;
            text-decoration: none;
            padding: 0 30px 0 75px;
            border: 3px solid $c-gold;
            background: url(/images/phone-icon.png) 35px 50% no-repeat;
            transition: background-color $a-time ease, color $a-time ease;

            &:hover {
                color: $c-white;
                background-color: $c-gold;
                background-image: url(/images/phone-icon-active.png);
            }
        }
    }
}