.links {
    clear: both;
    font-size: 0;
    text-align: center;
    margin-bottom: 52px;
    list-style-type: disc;

    &__item {
        margin: 0 37px 0 5px;
        display: inline-block;
        vertical-align: top;

        &__link {
            color: $c-cherokee;
            font-size: 1.4rem;
            text-decoration: none;
            border-bottom: 1px dashed;
            transition: all $a-time ease;

            &._current {
                color: #fff;
                cursor: default;
                border-bottom: 0;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}