.logo {
    color: $c-banana-mania;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    &__sign {
        width: 100px;
        height: 100px;
        text-align: center;
        position: absolute;
        margin-left: -95px;
        z-index: 10;
        top: 50%;
        font-size: 0;
        line-height: 100px;
        margin-top: -50px;
        border-radius: 50%;

        &__src {
            position: relative;
            z-index: 2;
            display: inline-block;
            vertical-align: middle;
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -50px;
            margin-left: -50px;
            z-index: 1;
            background: url(../images/logo-eclipse.png) 50% 50% no-repeat;
        }
    
        &:before {
            width: 31px;
            height: 38px;
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -19px;
            margin-right: -4px;
            background: url(../images/logo-shorten.png) 0 50% no-repeat;
        }
    }

    &__name {
        width: 598px;
        height: 40px;
        display: inline-block;
        position: relative;
        padding: 0 35px 0 11px;
        line-height: 40px;
        background: url(../images/logo-longer.png) no-repeat 0 0;
        
        &__decoration {
            padding: 0 40px;
            position: relative;
            letter-spacing: 0.21ex;
            display: inline-block;

            &:before, &:after {
                width: 31px;
                height: 23px;
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -11px;
                display: inline-block;
                background-position: 0 50%;
                background-repeat: no-repeat;
            }

            &:before {
                left: 0;
                background-image: url(../images/decoration-l.svg);
            }

            &:after {
                right: 0;
                background-image: url(../images/decoration-r.svg);
            }
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 782px) {
    .logo {
        font-size: 1.4rem;
        line-height: 40px;

        &__sign {
            width: 80px;
            height: 80px;
            padding: 0;
            line-height: 80px;
            margin-top: -40px;
            border-radius: 0;

            &:before, &:after {
                display: none;
            }
        }

        &__name {
            width: 430px;
            padding: 0 11px;
            background: none;
        }
    }
}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}