.logo {
    color: $c-banana-mania;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
    &__sign {
        width: 100px;
        height: 100px;
        text-align: center;
        position: absolute;
        // left: 0;
        margin-left: -95px;
        z-index: 10;
        top: 50%;
        font-size: 0;
        line-height: 100px;
        margin-top: -50px;
        background-color: rgba(0,0,0,.6);
        border-radius: 50%;

        &__src {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__name {
        height: 40px;
        display: inline-block;
        position: relative;
        padding: 0 65px 0 55px;
        line-height: 40px;
        background-color: rgba(0,0,0,.6);
    
        &:before, &:after {
            width: 31px;
            height: 23px;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -11px;
            display: inline-block;
            background-position: 0 50%;
            background-repeat: no-repeat;
        }

        &:before {
            left: 15px;
            background-image: url(/images/decoration-l.svg);
        }

        &:after {
            right: 25px;
            background-image: url(/images/decoration-r.svg);
        }
    }
}