.navigation {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    height: 70px;
    line-height: 70px;
    
    &:before {
        width: 100%;
        height: 100%;
        content: "";
        opacity: .6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $c-black;
    }

    &__wrapper {
        max-width: 1202px;
        @extend %layout;
        z-index: 2;
        text-align: center;
    }

    &__list {
        font-size: 0;
        float: left;
        position: relative;
        z-index: 10;
        margin-left: 16px;
        display: inline-block;
        vertical-align: top;
    }

    &__item {
        float: left;
    }

    &__link {
        height: 70px;
        color: $c-golden-glow;
        font-size: 1.3rem;
        padding: 0 30px;
        letter-spacing: 0.18ex;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        transition: color $a-time;
        position: relative;
        
        &._simple {
            padding: 0 29px 0 25px;
        }

        &:after {
            color: $c-shadow;
            content: "|";
            font-size: 1.3rem;
            vertical-align: top;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: -3px;
            bottom: 0;
        }
        
        &:hover, &._current {
            color: $c-white;
        }

        &._current {
            background-color: $c-black;
        }
    }

    &__item:last-child &__link {
        &:after {
            display: none;
        }
    }

    &__submenu {
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
    }
    
    &__item.is-active &__submenu {
        display: block;
    }

    &__item.is-active &__link {
        background-color: $c-black;
        
        &:before {
            width: 67px;
            height: 33px;
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 2000;
            margin-top: -6px;
            margin-left: -33px;
            background: url(../images/corner.png) 50% 100% no-repeat;
        }
    }

    &:last-child &__link {
        &:after {
            display: none;
        }
    }

    &__consult {
        float: right;
        line-height: 70px;
        position: relative;
        z-index: 10;

        &__button {
            color: $c-golden-glow;
            height: 40px;
            padding: 0 30px;
            font-size: 1.5rem;
            line-height: 36px;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            border-radius: 3px;
            border: 1px solid $c-shadow;
            transition: background-color $a-time, border-color $a-time, color $a-time;

            &:hover {
                color: $c-white;
                border-color: #888888;
                background-color: #000000;
            }
        }
    }
    
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 782px) {
    .navigation {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9000;
        line-height: 1;
        background: none;
        box-shadow: none;
        visibility: hidden;

        &:before {
            display: none;
        }

        &__wrapper {
            width: 100%;
            height: 100%;
            padding: 0;
            max-width: 100%;
            box-shadow: none;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        &__lock {
            width: 320px;
            height: 100%;
            transform: translate3d(-100%, 0, 0);
            transition: transform $a-time;

            &:before {
                width: 100%;
                height: 100%;
                opacity: .95;
                content: "";
                z-index: 1;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #fffeff;
            }
        }

        &__list {
            width: 100%;
            height: 100%;
            margin: 0;
            float: none;
            display: block;
            position: relative;
            z-index: 10;
            padding-bottom: 70px;
            box-shadow: 5px 5px 10px rgba(0,0,0,.15);
            background: url(../images/separator.png) 50% 91% no-repeat;
        }
        
        &__item {
            width: 100%;
            float: none;
            border-bottom: 1px solid #bfb8b3;
            
            &._dropdown {
                position: relative;

                &:after {
                    width: 7px;
                    height: 14px;
                    position: absolute;
                    right: 21px;
                    top: 50%;
                    margin-top: -7px;
                    content: "";
                    background: url(../images/arrow-r.png) 50% 50% no-repeat;
                }
            }
        }

        &__link {
            color: #000;
            height: auto;
            font-size: 1.4rem;
            text-align: left;
            text-transform: none;

            &, &._simple {
                padding: 13px 10px 12px;
            }
            
            &._current, &:active, &:hover {
                color: #000;
                background-color: #d69c05;

                &:before, &:after {
                    display: none;
                }
            }
        }

        &__consult {
            float: none;
            line-height: 100px;
            border-bottom: 1px solid #bfb8b3;

            &__button {
                color: #000;
                border-radius: 0;

                &:hover {
                    background-color: #d69c05;
                }
            }
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
        .navigation {
            &__list {
                background-image: url(../images/separator@2x.png);
                background-size: 134px 11px;
            }
        }
    }
}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}