.pagination {
    clear: both;
    font-size: 0;
    line-height: 0;
    margin-top: 40px;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &__list {
        margin: 0;
        padding: 0;
        letter-spacing: normal;
    }

    &__item {
        padding: 0;
        background: none;
        vertical-align: top;
        display: inline-block;

        &:not(:first-child) {
            margin-left: 2px;
        }

        &:not(:last-child) {
            margin-right: 2px;
        }

        &__page {
            &, &:visited {
                width: 45px;
                height: 45px;
                display: block;
                outline: none;
                color: $c-gold;
                font-size: 2rem;
                font-weight: 700;
                line-height: 45px;
                border-radius: 50%;
                text-align: center;
                text-decoration: none;
                background-color: $c-white;
                transition: background-color $a-time, color $a-time;
            }

            &:hover {
                color: $c-black;
            }

            &.current {
                color: $c-white;
                background-color: $c-golden-sand;

                &, &:hover {
                    border-color: #f00;
                }
            }
        }

        &__icon {
            position: relative;

            &, &:before, &:after {
                width: 40px;
                height: 45px;
                display: block;
            }

            &:before, &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: opacity $a-time;
            }

            &:after {
                opacity: 0;
            }

            &:hover {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &._prev {
                &:before {
                    background-image: url(../images/pagination-prev.png);
                }
                &:after {
                    background-image: url(../images/pagination-prev-active.png);
                }
            }

            &._next {
                &:before {
                    background-image: url(../images/pagination-next.png);
                }
                &:after {
                    background-image: url(../images/pagination-next-active.png);
                }
            }

            &._first {
                &:before {
                    background-image: url(../images/pagination-first.png);
                }
                &:after {
                    background-image: url(../images/pagination-first-active.png);
                }
            }

            &._last {
                &:before {
                    background-image: url(../images/pagination-last.png);
                }
                &:after {
                    background-image: url(../images/pagination-last-active.png);
                }
            }
        }

    }
}