.price {
    clear: both;
    font-size: 0;
    line-height: 0;
    margin: 0 -30px;
    padding-bottom: 60px;

    &__item {
        width: 33.333333333%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 40px;
        text-align: center;
        
        &__block {
            width: 320px;
            padding: 20px;
            border: 1px solid #e2e2e2;
            background-color: $c-white;
        }

        &__link {
            display: block;
            font-size: 0;
            outline: none;
            position: relative;
            margin-bottom: 15px;
            
            &:before {
                content: "";
                display: block;
                padding-top: 76.315789474%;
            }

            &:hover {
                border-color: $c-golden-sand;
            }
        }

        &__image {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;

            &:before {
                content: "";
                height: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            &__src {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                border-radius: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__caption {
            color: $c-black;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: center;
            position: absolute;
            bottom: 6px;
            left: 0;
            right: 0;
            padding: 5px 10px;
            min-height: 50px;
            line-height: 40px;
            overflow: hidden;
            border-radius: 0 0 10px 10px;

            &:before {
                width: 100%;
                height: 100%;
                content: "";
                opacity: .9;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                z-index: 0;
                background-color: #ecc452;
            }

            &__text {
                position: relative;
                z-index: 1;
                line-height: 1.2;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__offers {
            clear: both;

            &__price {
                color: $c-black;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1;
                text-align: center;
                margin-bottom: 10px;

                &__cost {
                    color: #5f2f00;
                    font-size: 3rem;
                    font-weight: 700;
                }
            }

            &__currency {
                color: #5f2f00;
                font-size: 3rem;
                font-weight: 700;
                font-family: $font-rouble;

                &__value {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {
    .price {
        &__item {
            &__block {
                width: 260px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .price {
        text-align: center;

        &__item {
            clear: both;
            width: 100%;
            display: block;
            max-width: 320px;
            margin: 0 auto 30px;

            &__block {
                width: 260px;
            }
        }
    }
}
@media only screen and (max-width: 568px) {
    .price {
        margin: 0;
        padding-bottom: 20px;
        
        &__item {
            width: 100%;
            margin-bottom: 25px;

            &__block {
                max-width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}