.ti {
    clear: both;
    color: $c-baker-chocolate;
    font-family: $font-italic;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.55;
    text-align: center;
    margin-bottom: 31px;
    text-transform: uppercase;
}

.set {
    clear: both;
    font-size: 0;
    text-align: center;
    margin-bottom: 65px;

    &__item {
        width: 33.333333333%;
        padding: 0 20px;
        text-align: center;
        display: inline-block;
        vertical-align: top;

        &__icon {
            width: 90px;
            height: 90px;
            font-size: 0;
            text-align: center;
            line-height: 90px;
            border-radius: 50%;
            margin: 0 auto 11px;
            background-color: $c-baker-chocolate;

            &__src {
                display: inline-block;
                vertical-align: middle;
            }
        }
        
        &__title, &__description {
            color: $c-black;
            font-size: 1.5rem;
            line-height: 1.5;
        }

        &__title {
            font-weight: 700;
            margin-bottom: 15px;
        }

        &__description {
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: 782px) {
    .ti {
        font-size: 1.6rem;

        br {
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .set {
        &__item {
            clear: both;
            width: 100%;
            
            &__title {
                margin-bottom: 5px;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}