.slider {
    height: $header-height-main;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: $c-baker-chocolate;
    
    &__wrapper {
        position: relative;
        height: $header-height-main;
    }

    &__content {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 100px;

        &__text {
            color: $c-white;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.38;
            text-align: center;
            margin-bottom: 22px;
        }

        &__phone {
            text-align: center;

            &__link {
                color:#252525;
                height: 56px;
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 56px;
                text-decoration: none;
                padding: 0 30px 0 75px;
                border-radius: 2px;
                display: inline-block;
                position: relative;
                border: 1px solid #fefefe;
                background-color: rgba(255, 255, 255, 0.3);
                transition: background-color $a-time ease, color $a-time ease;

                &:hover {
                    background-color: rgba(237, 202, 112, 0.8);
                }

                &:before {
                    content: "";
                    width: 30px;
                    height: 32px;
                    position: absolute;
                    left: 35px;
                    top: 50%;
                    margin-top: -15px;
                    transition: opacity $a-time;
                    background: url(../images/phone-icon-yellow.png) 50% 50% no-repeat;
                }
            }
        }
    }

    &__item {
        height: $header-height-main !important;
    
        &:before {
            z-index: 2 !important;
        }

        &__wrapper {
            @extend %layout;
            z-index: 2;
        }

        &__inner {
            clear: both;
            padding-top: 250px;
        }
        
        &__middle {
            height: 171px;
            padding: 0 30px;
            line-height: 171px;
            margin-bottom: 16px;
            text-align: center;

            &__text {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
            }
        }

        &__title {
            clear: both;
            color: #fffeff;
            font-family: $font-italic;
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.44;
            text-align: center;
            margin-bottom: 0;
            text-shadow: 0 3px 5px rgba(55, 14, 53, 0.4);
        }
        
        &__more {
            clear: both;
            text-align: center;

            &__link {
                color: #d5e590;
                font-family: $font-italic;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.88;
                outline: none;
                text-decoration: underline;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            text-align: center;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;

            &:after {
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background: url(../images/slider-shadow.png) 50% 100% no-repeat;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 782px) {
    .slider {
        &, &__wrapper, &__item, &__item:before, &__item__wrapper, &__item__image {
            height: 574px;
        }

        &__item {
            &__inner {
                padding-top: 100px;
            }

            &__title {
                margin-bottom: 10px;
                font-size: 4rem !important;
                line-height: 1.375 !important;
            }

            &__middle {
                height: 270px;
                line-height: 270px;
            }

            &__more {
                &__link {
                    font-size: 1.4rem;
                }
            }
        }

        &__content {
            bottom: 75px;
            padding: 0 40px;

            &__text {
                font-size: 1.4rem;
            }
        }
    }
}
@media only screen and (max-width: 568px) {
    .slider {
        &, &__wrapper, &__item, &__item:before, &__item__wrapper, &__item__image {
            height: 480px;
        }

        &__item {
            &__title {
                font-size: 2.4rem !important;
            }

            &__middle {
                height: 160px;
                line-height: 160px;
            }

            &__more {
                &__link {
                    font-size: 1.2rem;
                }
            }
        }

        &__content {
            bottom: 45px;
            padding: 0 10px;

            &__phone {
                &__link {
                    font-size: 2.6rem;
                    padding: 0 15px 0 55px;

                    &:before, &:after {
                        left: 10px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}