.steps {
    clear: both;
    font-size: 0;
    margin-bottom: 19px;

    &__item {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        position: relative;
        z-index: 1;

        &._long {
            width: 25%;
        }

        &__icon {
            width: 80px;
            height: 80px;
            font-size: 0;
            line-height: 80px;
            position: relative;
            text-align: center;
            margin: 0 auto 25px;
            background-color: $c-gamboge;

            &, &:before {
                border-radius: 50%;
            }

            &:before {
                width: 88px;
                height: 88px;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 2;
                margin-top: -44px;
                margin-left: -44px;
                border: 1px solid $c-gamboge;
            }

            &__src {
                display: inline-block;
                vertical-align: middle;
            }
        }

        &:not(:last-child) &__icon {
            &:after {
                width: 129px;
                height: 22px;
                content: "";
                position: absolute;
                top: 31px;
                left: 100%;
                z-index: 1;
                margin-left: 3px;
                background: url(../images/steps-arrow.png) 50% 50% no-repeat;
            }
        }

        &._long:not(:last-child) &__icon {
            &:after {
                width: 184px;
            }
        }

        &__title {
            color: $c-white;
            font-size: 1.4rem;
            line-height: 1.42;
            padding: 0 12px;
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {
    .steps {
        &__item {
            &:not(:last-child) &__icon {
                &:after {
                    width: 102px;
                }
            }
        }
    }
}
@media only screen and (max-width: 782px) {
    .steps {
        &__item {
            &:not(:last-child) &__icon {
                &:after {
                    width: 65px;
                }
            }
        }
    }
}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}