.works {
    clear: both;
    padding: 46px 0;
    position: relative;
    margin-bottom: 82px;
    overflow: hidden;
    background-color: #6b544b;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        background-image: url(../images/flowers.jpg);
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: cover;
        background-attachment: fixed;
    }
    
    &__wrapper {
        max-width: 1222px;
    }

    &._np {
        padding-top: 0;
        margin-bottom: 39px;
        padding-bottom: 2px;
    }

    &._large {
        &:before {
            background-image: url(../images/large-flower.jpg);
        }
    }

    &__title {
        clear: both;
        color: $c-white;
        font-size: 3rem;
        font-family: $font-italic;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 19px;
        text-transform: uppercase;
    }

    &__header {
        padding: 58px 0 38px;
        text-align: center;
        color: $c-white;
        font-size: 3rem;
        position: relative;
        line-height: 1.4;
        font-weight: 700;
        font-family: $font-italic;
        background-color: #3c1e00;
        margin-bottom: 60px;
        background-color: rgba(60, 30, 0, .5);

        &:after {
            width: 71px;
            height: 15px;
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            margin-left: -36px;
            background: url(../images/works-eclipse.png) 50% 100% no-repeat;
        }
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 782px) {
    .works {
        &__header {
            font-size: 2.4rem;

            br {
                display: none;
            }
        }
    }   
}
@media only screen and (max-width: 568px) {
    .works {
        &._how-we {
            display: none;
        }
    }
}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}