.layout-map {
    clear: both;
    height: 475px;
    position: relative;
    margin-bottom: -$footer-margin;
    background-color: $c-hint-of-red;

    &__drow {
        width: 100%;
        height: 100%;
    }
}