h2 {
    color: #5f2f00;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 30px;
    font-family: $font-italic;
    text-transform: uppercase;
}