@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "about"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1>о нас</h1>

            <h2>ООО «Мемориал» зарегистрировано 04.06.2007 г. Основной вид деятельности – организация похорон и оказание связанных с ними услуг.</h2>
            
            <div class="about-item">
                <p><strong>В составе производственных площадей  ООО «Мемориал» следующие цеха:</strong></p>

                <ul class="triangle">
                    <li>плотницкий</li>
                    <li>веночный</li>
                    <li>цех изготовления декоративных гробов</li>
                    <li>цех изготовления памятников</li>
                    <li>монтажный цех</li>
                    <li>цех металлоконструкций</li>
                </ul>

                <p>Начиная с июля 2007 г. ООО «Мемориал», закупив необходимые материалы, приступил к изготовлению ритуальных товаров собственными силами.<br>Ритуальное производство, как и всякое другое требует постоянного совершенствования, дооснащения, поиска новых материалов, внедрения новых технологий. Поэтому ООО «Мемориал» приобрел в собственность новые станки (фуговальный, форматно-раскроечный, фрезерный цех декоративных гробов; два граверных станка- цех изготовления памятников), провел ремонт помещений цехов с целью создания дополнительных площадей, пригодных для производства.</p>
            </div>

            <div class="about-item _icon-1">
                <p><strong>На сегодняшний день значительно расширен ассортимент производимой продукции:</strong></p>

                <ul>
                    <li>венки 150 моделей</li>
                    <li>гробы 45 моделей</li>
                    <li>ограды 30 моделей (в том числе кованые)</li>
                    <li>памятники из мрамора и гранита.</li>
                </ul>
            </div>

            <div class="about-item _icon-2">
                <p><strong>Помимо производства ООО «Мемориал» оказывает различные виды ритуальных услуг:</strong></p>
                <ul>
                    <li>уборка могил (в том числе и на долгосрочной основе)</li>
                    <li>услуги по выносу гроба с телом умершего</li>
                    <li>услуги по организации похорон с применением ритуального лифта – сингуматора</li>
                    <li>реставрация памятников.</li>
                    <li>демонтажные и монтажные работы на местах захоронения и т.д.</li>
                </ul>
            </div>

        </div>
        
    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')