@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "articles"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1>статьи</h1>

            <article class="article-item clearfix" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" data-url="/markup/article-item.html">
                <a href="/markup/article-item.html" class="article-item__photo" itemprop="url">
                    <img src="../images/article/1.jpg" width="220" height="160" class="article-item__photo__src" itemprop="image" alt="">
                </a>

                <div class="article-item__content">
                    <time class="article-item__date" datetime="2016-07-12" itemprop="datePublished">12. 07. 2016</time>
                
                     <a href="/markup/article-item.html" class="article-item__title" itemprop="url">
                        <span itemprop="name">Что делать в первые минуты после смерти</span>
                    </a>
               
                    <div class="article-item__description" itemprop="description">
                        <p>Большинство людей полностью теряются, когда оказываются перед необходимостью регистрации смерти, оформления документов, организации похорон и решения других проблем.</p>
                        <p>Если человек умер дома в присутствии близких в праздничные дни или ночью – надо немедленно обратиться в «Скорую помощь», чтобы прибывший врач констатировал смерть.</p>
                    </div>

                    <div class="article-item__more">
                        <a href="/markup/article-item.html" class="article-item__more__link">Читать далее  >>></a>
                    </div>
                </div>
            </article>
            
            <article class="article-item clearfix" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" data-url="/markup/article-item.html">
                <a href="/markup/article-item.html" class="article-item__photo" itemprop="url">
                    <img src="../images/article/2.jpg" width="220" height="160" class="article-item__photo__src" itemprop="image" alt="">
                </a>

                <div class="article-item__content">
                    <time class="article-item__date" datetime="2001-12-30" itemprop="datePublished">05. 07. 2016</time>
                
                     <a href="/markup/article-item.html" class="article-item__title" itemprop="url">
                        <span itemprop="name">Цветы, как часть похоронного ритуала</span>
                    </a>
               
                    <div class="article-item__description" itemprop="description">
                        Цветы создают атмосферу теплоты и красоты, которая одчеркивает торжественность похоронного ритуала и приносит утешение скорбящим. У присутствующих на похоронах остается неизгладимое впечатление от похоронного обряда. Цветы – очень важный элемент, влияющий на формирование впечатления, так как они на прямую влияют на картинку, остающуюся в памяти. Если оставшаяся в памяти картинка не приносит боли, то воспоминания помогают скорбящим укрепиться в ощущении реальности и осознать потерю. Цветы, оставшиеся в памяти, никогда не завянут. Образ цветов будет снова и снова всплывать при воспоминании о похоронной церемонии.
                    </div>

                    <div class="article-item__more">
                        <a href="/markup/article-item.html" class="article-item__more__link">Читать далее  >>></a>
                    </div>
                </div>
            </article>
            
            <article class="article-item clearfix" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" data-url="/markup/article-item.html">
                <a href="/markup/article-item.html" class="article-item__photo" itemprop="url">
                    <img src="../images/article/3.jpg" width="220" height="160" class="article-item__photo__src" itemprop="image" alt="">
                </a>

                <div class="article-item__content">
                    <time class="article-item__date" datetime="2001-12-30" itemprop="datePublished">12. 07. 2016</time>
                
                     <a href="/markup/article-item.html" class="article-item__title" itemprop="url">
                        <span itemprop="name">Какие бывают гробы и какой выбрать</span>
                    </a>
               
                    <div class="article-item__description" itemprop="description">
                        Важной составляющей похоронного ритуала является гроб. Его надо правильно подобрать, так как он является последним пристанищем для человека. Размер гроба определяется размером и ростом умершего человека. К росту добавляют 25-35 см в длину, при среднем росте 170-180 см, длина выбираемого гроба будет состовлять 2-2.15 метра.
                    </div>

                    <div class="article-item__more">
                        <a href="/markup/article-item.html" class="article-item__more__link">Читать далее  >>></a>
                    </div>
                </div>
            </article>
            
            <article class="article-item clearfix" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" data-url="/markup/article-item.html">
                <a href="/markup/article-item.html" class="article-item__photo" itemprop="url">
                    <img src="../images/article/4.jpg" width="220" height="160" class="article-item__photo__src" itemprop="image" alt="">
                </a>

                <div class="article-item__content">
                    <time class="article-item__date" datetime="2001-12-30" itemprop="datePublished">05. 07. 2016</time>
                
                     <a href="/markup/article-item.html" class="article-item__title" itemprop="url">
                        <span itemprop="name">Этикет во время похорон</span>
                    </a>
               
                    <div class="article-item__description" itemprop="description">
                        <p>Комнату, в которой лежит умерший, стараются затемнить, чтобы туда попадало как можно меньше света. Затягивают черным крепом зеркала. В доме разговаривают шепотом, соблюдая тишину. В это время не включают телевизор, радио, магнитофон, не играют на музыкальных инструментах. Маленьких детей стараются не пускать к покойнику: они еще не понимают, что происходит, и только нарушают порядок.</p>
                    </div>

                    <div class="article-item__more">
                        <a href="/markup/article-item.html" class="article-item__more__link">Читать далее  >>></a>
                    </div>
                </div>
            </article>
                
            @@include('./components/_pagination.html')
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')