@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "articles"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1>ЧТО ДЕЛАТЬ В ПЕРВЫЕ МИНУТЫ ПОСЛЕ СМЕРТИ</h1>

            <article class="article-item _single clearfix" itemscope="itemscope" itemtype="http://schema.org/NewsArticle" data-url="/markup/article-item.html">
                <div class="article-item__content _no-photo">
                    
                    <a href="/markup/article-item.html" class="article-item__title" itemprop="url">
                        <span itemprop="name">Что делать в первые минуты после смерти</span>
                    </a>

                    <div class="article-item__body" itemprop="articleBody">
                        <p>Большинство людей полностью теряются, когда оказываются перед необходимостью регистрации смерти, оформления документов, организации похорон и решения других проблем.<br>Если человек умер дома в присутствии близких в праздничные дни или ночью – надо немедленно обратиться в «Скорую помощь», чтобы прибывший врач констатировал смерть.</p>
                        <p>В дневное время необходимо пригласить врача районной поликлиники.</p>
                        <p>Если несчастье случилось в дороге с места происшествия тело покойного направляется в судебно-медицинский морг, поэтому, когда пропал родственник или другой близкий человек, надо обращаться в бюро несчастных случаев, вам сообщат адреса судебно-медицинских моргов, куда можно подъехать для опознания тела и получения заключения о причине смерти.</p>
                        <p><strong>Поталогоанатомическое вскрытие</strong><br>Если требуется поталогоанатомическое вскрытие – это определяет врач, прибывший для констатации смерти. В том случае, когда врач затрудняется назвать причину смерти, он сам обращается в специальную медицинскую службу перевозки по поводу доставки умершего в поталогоанатомическое отделение на исследование.</p>
                        
                        <div class="article-item__image">
                            <img src="../images/article-image.jpg" class="article-item__image__src" itemprop="image" alt="">
                        </div>

                        <p><strong>Врачебное свидетельство о смерти</strong><br>Когда при констатации смерти врач «Скорой помощи» не затрудняется в определении ее причин (преклонный возраст покойного, длительная болезнь), врачебное свидетельство о смерти выписывают в районной поликлинике, где прежде наблюдался умерший. При его получении нужно иметь паспорт покойного и свой собственный: этот медицинский документ выдается только кому-то из родных и близких покойного.</p>
                        <p>Если человек скончался в больнице лечащий врач или медицинская сестра извещают об этом его близких и сообщают номер телефона, по которому можно узнать о том, в каком морге покойный и как получить врачебное свидетельство о смерти.</p>
                    </div>

                    <div class="article-item__more">
                        <a href="/markup/articles.html" class="article-item__more__link">Вернуться назад  <<<</a>
                    </div>

                </div>
            </article>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')