@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "index",
        "addclass": "_main"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <blockquote class="decoration">
                Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре. 
                Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения. 
                Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.
            </blockquote>
            
            <div class="ti">
                ООО «Мемориал» зарегистрировано 04.06.2007 г. Основной вид деятельности –<br>организация похорон и оказание связанных с ними услуг.
            </div>

            <ul class="set">
                <li class="set__item">
                    <div class="set__item__icon">
                        <img src="/images/star-ico.png" class="set__item__icon__src" alt="">
                    </div>
                    <div class="set__item__title">Высокие стандарты обслуживания</div>
                    <div class="set__item__description">клиенты, приходящие к нам, рекомендуют нас своим знакомым</div>
                </li>
                <li class="set__item">
                    <div class="set__item__icon">
                        <img src="/images/people-ico.png" class="set__item__icon__src" alt="">
                    </div>
                    <div class="set__item__title">Профессиональный коллектив</div>
                    <div class="set__item__description">средний стаж работников 8 лет</div>
                </li>
                <li class="set__item">
                    <div class="set__item__icon">
                        <img src="/images/goal-ico.png" class="set__item__icon__src" alt="">
                    </div>
                    <div class="set__item__title">Низкие цены, при высоком качестве обслуживания</div>
                    <div class="set__item__description"></div>
                </li>
            </ul>
        
        </div>

        <div class="works clearfix">
            <div class="layout-wrapper__container clearfix j-tab-wrapper">
                
                <div class="works__title">как мы работаем?</div>

                <ul class="links">
                    <li class="links__item"><a href="#" data-tab="arranging-funeral" class="links__item__link _current j-tab-trigger">• При организации похорон</a></li>
                    <li class="links__item"><a href="#" data-tab="ordering-the-monument" class="links__item__link j-tab-trigger">• При заказе памятника</a></li>
                </ul>
                
                <div class="tab-content _open j-tab-item" id="tab-arranging-funeral">
                    <ul class="steps">
                        <li class="steps__item">
                            <div class="steps__item__icon">
                                <img src="/images/icon-tel.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Вы звоните нам по телефону </div>
                        </li>
                        <li class="steps__item">
                            <div class="steps__item__icon">
                                <img src="/images/icon-address.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Вы посещаете похоронный дом «Ритуал»</div>
                        </li>
                        <li class="steps__item">
                            <div class="steps__item__icon">
                                <img src="/images/icon-user.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Так же к Вам может приехать распорядитель похорон</div>
                        </li>
                        <li class="steps__item">
                            <div class="steps__item__icon">
                                <img src="/images/icon-plan.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Мы согласовываем с Вами план похорон</div>
                        </li>
                        <li class="steps__item">
                            <div class="steps__item__icon">
                                <img src="/images/icon-ending.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Мы проводим похороны</div>
                        </li>
                    </ul>
                </div>

                <div class="tab-content j-tab-item" id="tab-ordering-the-monument">
                    <ul class="steps">
                        <li class="steps__item _long">
                            <div class="steps__item__icon">
                                <img src="/images/icon-tel.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Вы звоните нам по телефону</div>
                        </li>
                        <li class="steps__item _long">
                            <div class="steps__item__icon">
                                <img src="/images/icon-address.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Вы посещаете похоронный<br>дом «Ритуал»</div>
                        </li>
                        <li class="steps__item _long">
                            <div class="steps__item__icon">
                                <img src="/images/Icon-eskiz.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Мы согласовываем с Вами эскиз</div>
                        </li>
                        <li class="steps__item _long">
                            <div class="steps__item__icon">
                                <img src="/images/Icon-dok.png" class="steps__item__icon__src" alt="">
                            </div>
                            <div class="steps__item__title">Заключаем договор</div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="layout-wrapper__container _large clearfix">
            <div class="service__header decoration _bottom">
                Бюро похоронных услуг "Мемориал" предлагает следующие <br>дополнительные услуги:
            </div>

            <ul class="service">
                <li class="service__item is-hover">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/documents.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Бесплатная помощь в оформлении всех необходимых документов</span>
                    </a>
                </li>

                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/care-grave.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Уход за могилой</span>
                    </a>
                </li>
                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/removal-body.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Вынос гроба с телом умершего</span>
                    </a>
                </li>
                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/incidental-music.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Предоставление траурного зала, музыкальное сопровождение похорон</span>
                    </a>
                </li>
                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/monuments.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Изготовление и установка памятников</span>
                    </a>
                </li>
                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/ritual-elevator.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Ритуальный лифт</span>
                    </a>
                </li>
                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/cargo-200.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Отправка - приемка <br>«Груз 200»</span>
                    </a>
                </li>
                <li class="service__item">
                    <a href="" class="service__item__link">
                        <span class="service__item__circle"><img src="/images/service/сremation.png" class="service__item__circle__src" alt=""></span>
                        <span class="service__item__title">Кремация</span>
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="info">
            <div class="info__wrapper">
                <div class="info__content">
                    <em>Подробнее о дополнительных ритуальных услугах, предоставляемых похоронным бюро "Мемориал" <br>в Краснодаре вы можете узнать из <a href="">каталога</a> услуг</em>
                </div>
            </div>
        </div>

        <div class="works _large _np clearfix">
            <div class="works__header">
                <div class="decoration _bottom _white">
                    Вы также можете приобрести в похоронном бюро "Мемориал" <br>следующую продукцию:
                </div>
            </div>

            <div class="layout-wrapper__container clearfix">
                <ul class="products">
                    <li class="products__item">
                        <a href="" class="products__item__link">
                            <span class="products__item__circle"><img src="/images/products/coffin.png" class="products__item__circle__src" alt=""></span>
                            <span class="products__item__name">Гробы</span>
                        </a>
                    </li>
                    <li class="products__item">
                        <a href="" class="products__item__link">
                            <span class="products__item__circle"><img src="/images/products/wreath.png" class="products__item__circle__src" alt=""></span>
                            <span class="products__item__name">Венки и траурные ленты</span>
                        </a>
                    </li>
                    <li class="products__item">
                        <a href="" class="products__item__link">
                            <span class="products__item__circle"><img src="/images/products/crest.png" class="products__item__circle__src" alt=""></span>
                            <span class="products__item__name">Ритуальные принадлежности</span>
                        </a>
                    </li>
                    <li class="products__item">
                        <a href="" class="products__item__link">
                            <span class="products__item__circle"><img src="/images/products/monument.png" class="products__item__circle__src" alt=""></span>
                            <span class="products__item__name">Мраморные и гранитные памятники</span>
                        </a>
                    </li>
                    <li class="products__item">
                        <a href="" class="products__item__link">
                            <span class="products__item__circle"><img src="/images/products/fence.png" class="products__item__circle__src" alt=""></span>
                            <span class="products__item__name">Изделия из металла</span>
                        </a>
                    </li>
                    <li class="products__item">
                        <a href="" class="products__item__link">
                            <span class="products__item__circle"><img src="/images/products/labels.png" class="products__item__circle__src" alt=""></span>
                            <span class="products__item__name">Изготовление надписей</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="layout-wrapper__container clearfix">
            
            <div class="decoration">
                <p>Когда нас покидают близкие нам люди..... В такие моменты кажется, что жизнь теряет смысл и нет сил ни о чем думать. Подготовка к похоронам, процесс выбора места захоронения, покупка гроба и других принадлежностей кажется невыполнимой задачей. Бюро ритуальных услуг "Мемориал" поможет в организации похорон и полностью возьмет на себя полное обеспечение процесса погребения.</p>

                <p>Также на сайте Вы найдёте информацию об организации похорон, о том, какие ритуальные услуги существуют, какие ритуальные принадлежности требуются для погребения. Что необходимо сделать в первую очередь после смерти человека. Как правильно организовать траурную панихиду и выбрать ритуальный памятник. Надеемся, что информация, размещаемая на сайте, поможет Вам в трудную минуту.</p>

                <p><strong>Организация похорон в похоронном бюро "Мемориал»</strong><br>На нашем сайте Вы можете выбрать: памятники, венки, ограды и заказать ритуальные услуги. Купить гроб или купить венок в нашем магазине Вы можете на сайте, просто оставив заявку на определенную модели, или приехать в наше бюро. Цены на ритуальные услуги указаны в соответствующих разделах.</p>
                
                <div class="layout-phone">
                    <div class="layout-phone__title">За консультацией по организации похорон обращайтесь к нашим менеджерам <br>в отдел продаж по телефону:</div>
                    <div class="layout-phone__item">
                        <a href="" class="layout-phone__item__link">+ 7 861 222 25 61</a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')