@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "service"
    })

    @@include('./components/_breadcrumbs.html', {
        "page1": "Ритуальные услуги",
        "page2": "Похороны",
        "page3": "Цены на ритуальные услуги "
    })

    <div class="layout-wrapper__pusher _no-push">
    
        <div class="layout-wrapper__color _push">
            <div class="layout-wrapper__container clearfix">
                
                <h1>Цены на ритуальные услуги</h1>
                
                <div class="price j-tabs-wrapper clearfix" itemscope itemtype="http://schema.org/ImageGallery">

                    <ul class="tabs j-tabs">
                        <li class="tabs__item"><a href="" class="tabs__link j-tabs-link">Захоронение</a></li>
                        <li class="tabs__item"><a href="" class="tabs__link j-tabs-link _current">Кремация</a></li>
                    </ul>
                    
                    <article class="price__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="price__item__block">
                            <a href="" class="price__item__link" itemprop="contentUrl">
                                <span class="price__item__image">
                                    <img src="/images/example/1.jpg" width="340" height="250" class="price__item__image__src" itemprop="thumbnail" alt="">
                                </span>

                                <span class="price__item__caption">Кремация класса «Эконом»</span>
                            </a>
                            
                            <div class="price__item__offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <div class="price__item__offers__price">
                                    от <span itemprop="price" class="price__item__offers__price__cost">7 000</span> <span class="price__item__offers__currency">i<span class="price__item__offers__currency__value" itemprop="priceCurrency">RUB</span></span>
                                </div>
                                <div class="price__item__offers__button">
                                    <a href="" class="button">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="price__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="price__item__block">
                            <a href="" class="price__item__link" itemprop="contentUrl">
                                <span class="price__item__image">
                                    <img src="/images/example/2.jpg" width="340" height="250" class="price__item__image__src" itemprop="thumbnail" alt="">
                                </span>

                                <span class="price__item__caption">Кремация класса «Стандарт»</span>
                            </a>

                            <div class="price__item__offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <div class="price__item__offers__price">
                                    от <span itemprop="price" class="price__item__offers__price__cost">23 000</span> <span class="price__item__offers__currency">i<span class="price__item__offers__currency__value" itemprop="priceCurrency">RUB</span></span>
                                </div>
                                <div class="price__item__offers__button">
                                    <a href="" class="button">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="price__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <div class="price__item__block">
                            <a href="" class="price__item__link" itemprop="contentUrl">
                                <span class="price__item__image">
                                    <img src="/images/example/3.jpg" width="340" height="250" class="price__item__image__src" itemprop="thumbnail" alt="">
                                </span>
                                
                                <span class="price__item__caption">Кремация класса «Элит»</span>
                            </a>

                            <div class="price__item__offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <div class="price__item__offers__price">
                                    от <span itemprop="price" class="price__item__offers__price__cost">140 000</span> <span class="price__item__offers__currency">i<span class="price__item__offers__currency__value" itemprop="priceCurrency">RUB</span></span>
                                </div>
                                <div class="price__item__offers__button">
                                    <a href="" class="button">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>

            </div>

        </div>
        
        <div class="layout-wrapper__container clearfix">
            <h2>Индивидуальный заказ</h2>
            <p>Вместе с нашим распорядителем похорон вы сможете составить индивидуальный набор услуг и выбрать ритуальные принадлежности из более чем 1000 вариантов.<br>Это можно сделать по каталогу, вызвав распорядителя или посетив похоронный дом.</p>
            
            <div class="layout-phone">
                <div class="layout-phone__title">Мы поможем Вам подобрать подходящий памятник, соответствующий Вашим требованиям и бюджету. <br>Звоните нам по телефону с 9:00 до 18:00:</div>
                <div class="layout-phone__item">
                    <a href="" class="layout-phone__item__link">+ 7 861 222 25 61</a>
                </div>
            </div>
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')