@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "reviews"
    })

    <div class="layout-wrapper__pusher">

        <h1>отзывы</h1>
            
        <div class="reviews">
        
            <div class="reviews__item" itemscope itemtype="http://schema.org/Review">
                <div class="reviews__item__wrapper">
                    <div class="reviews__item__description" itemprop="reviewBody">
                        <p>Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре.</p>
                        <p>Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения.</p>
                        <p>Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.</p>
                    </div>
                    <div class="reviews__item__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <strong itemprop="name">Константинопольский Константин</strong>
                    </div>
                </div>
            </div>
            
            <div class="reviews__item" itemscope itemtype="http://schema.org/Review">
                <div class="reviews__item__wrapper">
                    <div class="reviews__item__description" itemprop="reviewBody">
                        <p>Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре.</p>
                        <p>Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения.</p>
                        <p>Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.</p>
                    </div>
                    <div class="reviews__item__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <strong itemprop="name">Константинопольский Константин</strong>
                    </div>
                </div>
            </div>
            
            <div class="reviews__item" itemscope itemtype="http://schema.org/Review">
                <div class="reviews__item__wrapper">
                    <div class="reviews__item__description" itemprop="reviewBody">
                        <p>Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре.</p>
                        <p>Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения.</p>
                        <p>Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.</p>
                    </div>
                    <div class="reviews__item__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <strong itemprop="name">Константинопольский Константин</strong>
                    </div>
                </div>
            </div>
            
            <div class="reviews__item" itemscope itemtype="http://schema.org/Review">
                <div class="reviews__item__wrapper">
                    <div class="reviews__item__description" itemprop="reviewBody">
                        <p>Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре.</p>
                        <p>Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения.</p>
                        <p>Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.</p>
                    </div>
                    <div class="reviews__item__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <strong itemprop="name">Константинопольский Константин</strong>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="layout-phone">
            <div class="layout-phone__title">За консультацией по организации похорон обращайтесь к нашим менеджерам <br>в отдел продаж по телефону:</div>
            <div class="layout-phone__item">
                <a href="" class="layout-phone__item__link">+ 7 861 222 25 61</a>
            </div>
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')