@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "reviews"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            <h1>отзывы</h1>

Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре. 
Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения. 
Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.
Константинопольский Константин

Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре. 
Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения. 
Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.
Константинопольский Константин

Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре. 
Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения. 
Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.
Константинопольский Константин


Ритуальное агентство "Мемориал" предоставляет ритуальные услуги в городе Краснодаре. 
Мы знаем на сколько тяжело заниматься организацией похорон в минуты скорби. Поэтому готовы взять на себя всю организацию похорон от оформления документов до захоронения. 
Обращаясь к нам - Вы можете быть уверены, что близкий человек будет достойно сопровожден в лучший мир. Вопрос денег с нами никогда не стоит остро.            
Константинопольский Константин

            <div class="layout-phone">
                <div class="layout-phone__title">За консультацией по организации похорон обращайтесь к нашим менеджерам <br>в отдел продаж по телефону:</div>
                <div class="layout-phone__item">
                    <a href="" class="layout-phone__item__link">+ 7 861 222 25 61</a>
                </div>
            </div>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')