@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "service"
    })

    @@include('./components/_breadcrumbs.html', {
        "page1": "Ритуальные услуги",
        "page2": "Изготовление памятников",
        "page3": " "
    })

    <div class="layout-wrapper__pusher">
    
        <div class="layout-wrapper__container _large clearfix">
            <h1>изготовление памятников</h1>
            
            <ul class="example">
                <li class="example__item is-hover">
                    <a href="/markup/service-item.html" class="example__item__link">
                        <span class="example__item__circle"><img src="/images/granit.jpg" class="example__item__circle__src" alt=""></span>
                        <span class="example__item__title">Гранит</span>
                    </a>
                </li>
                
                <li class="example__item is-hover">
                    <a href="/markup/service-item.html" class="example__item__link">
                        <span class="example__item__circle"><img src="/images/mramor.jpg" class="example__item__circle__src" alt=""></span>
                        <span class="example__item__title">Мрамор</span>
                    </a>
                </li>
                
                <li class="example__item is-hover">
                    <a href="/markup/service-item.html" class="example__item__link">
                        <span class="example__item__circle"><img src="/images/examples.jpg" class="example__item__circle__src" alt=""></span>
                        <span class="example__item__title">Примеры наших работ</span>
                    </a>
                </li>

                <li class="example__item is-hover">
                    <a href="/markup/service-item.html" class="example__item__link">
                        <span class="example__item__circle"><img src="/images/process.jpg" class="example__item__circle__src" alt=""></span>
                        <span class="example__item__title">Процесс изготовления памятников</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="layout-wrapper__container clearfix">    
            <h2>Изготовление памятников на могилу из мрамора и гранита по цене от 5 000 рублей</h2>

            <p>Мы изготавливаем памятники на могилу из мрамора и гранита. Памятники из мрамора немного дешевле, а памятники из гранита отличаются надежностью и прочностью. Мраморные плиты мы привозим в основном с Урала. Если Вам по душе темный мрамор, то выбирайте памятники из мрамора Уфалей. Ели же Вам нравятся светлые памятники, то заказывайте их из плит полевского мрамора. Гранитные памятники мы привозим из Украины, Китая и Индии. Страну производителя каждого памятника Вы можете посмотреть в карточке товара. Гранитные надгробья бывают черные, зеленые, красные и серые.</p>
        </div>
            
        <div class="service-info">
            <div class="service-info__wrapper">
                <p><em>Если Вы хотите эксклюзивный памятник на могилу, созданный по Вашим задумкам, то индивидуальный заказ памятников создан специально для Вас. Собственное изготовление надгробных памятников позволяет нам оперативно выполнить <a href="">Ваш заказ</a>.</em></p>
            </div>
        </div>

        <div class="layout-wrapper__container clearfix">
            <h2>Установка памятников от 700 рублей</h2>
            
            <p>И зготовить памятник – это только первый шаг. Дальше его нужно установить. Изготовление и установка памятников входит в перечень наших услуг уже много лет. При установке мы учитываем множество факторов, влияющих на долговечность памятника, например тот факт, что установка должна производится только в теплое время года, вес надгробия, уровень грунтовых вод и так далее. Монтаж памятника сопровождается выравниванием поверхности, заливкой бетонного цоколя вместе с швеллером и другими работами.</p>

            <div class="layout-phone">
                <div class="layout-phone__title">Мы поможем Вам подобрать подходящий памятник, соответствующий Вашим требованиям и бюджету. <br>Звоните нам по телефону с 9:00 до 18:00:</div>
                <div class="layout-phone__item">
                    <a href="" class="layout-phone__item__link">+ 7 861 222 25 61</a>
                </div>
            </div>

        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')