@mixin font-face($font-family, $file-filename, $font-weight: normal, $font-style: normal, $font-stretch : normal) {
    @font-face {
        font-family: quote($font-family);
        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
        font-display: swap;

        src: url($file-filename + '.eot');
        src: url($file-filename + '.woff2') format('woff2'),
             url($file-filename + '.ttf') format('truetype'),
             url($file-filename + '.woff') format('woff');
    }
}