* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    
    &, &:before, &:after {
        box-sizing: border-box;
    }
}

html, body { height: 100%; }

html {
    font-size: $font-base;
    font-family: $font-family;
    text-size-adjust: 100%;
    quotes: "“" "”";
}

body {
    min-width: 320px;
    color: $c-text-color;
    line-height: 1;
    letter-spacing: 0em;
    background-color: $c-body-background;
}

body, input, textarea, select, button {
    font-synthesis: none;
    text-rendering: optimizeLegibility; //auto | optimizeSpeed | optimizeLegibility | geometricPrecision
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -moz-font-feature-settings: 'liga', 'kern';
    direction: ltr;
    text-align: left;
}

@media only screen and (max-width: 782px) {
    .layout-wrapper__container, .layout-footer__wrapper, .service-info__wrapper, .layout-header__wrapper, .breadcrumbs__wrapper, .info__wrapper, .reviews__item__wrapper, .slider__item__wrapper {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .no-mobile {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .layout-wrapper__container, .layout-footer__wrapper, .service-info__wrapper, .layout-header__wrapper, .breadcrumbs__wrapper, .info__wrapper, .reviews__item__wrapper, .slider__item__wrapper {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}