.layout-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    &__pusher {
        padding-top: 40px;
        padding-bottom: $footer-height + $footer-margin;

        &._no-push {
            padding-top: 0;
        }
    }

    &__color {
        padding-top: 40px;
        background-color: $c-romance;

        &._push {
            margin-bottom: 55px;
        }
    }

    &__container {
        @extend %layout;

        &._large {
            max-width: $layout-width-large;
        }
    }
}

// .large-page .layout-wrapper__container {
//     max-width: $layout-width-large;
// }

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}