// Animation
$a-time:                        .3s;
$a-micro-time:                  .15s;
$a-long-time:                   .7s;

// Fonts
$font-base:                     10px;
$font-family:                   'Open Sans', sans-serif;
$font-italic:                   Georgia, sans-serif;
$font-rouble:                   Rouble, sans-serif;
$font-arial:                    Arial, Helvetica, sans-serif;
$font-forms:                    Arial, Helvetica, sans-serif;

// Colors
$c-select-color:                #121212;
$c-select-background:           #FFDC88;

$c-text-color:                  #121212;
$c-body-background:             #fff !default;

$c-placeholder-color:           #000;
$c-placeholder-opacity:         .5;

$c-sandwich-overlay:            #000;
$c-sandwich-background:         #2b65b6;
$c-sandwich-background-active:  #fff;

$c-white:                       #fff;
$c-black:                       #000;
$c-gold:                        #bd9625;
$c-suva-grey:                   #8b8b8b;
$c-cocoa-brown:                 #3c1e00;
$c-baker-chocolate:             #5a2f00;
$c-golden-glow:                 #FFDC88;
$c-banana-mania:                #FFE8B0;
$c-shadow:                      #847349;
$c-gamboge:                     #d69c05;
$c-cherokee:                    #F4C981;
$c-hint-of-red:                 #f4f2f1;
$c-golden-sand:                 #edca70;
$c-romance:                     #f4f2ec;

$c-border-color:                #eee;

// SIZE
// $layout-width:                  1260px;
$layout-width:                  1100px;
$layout-margin:                 10px;

$header-height:                 200px;
$header-height-main:            660px;

$footer-margin:                 50px;
$footer-contacts:               109px;
$footer-height:                 328px;

$sidebar-width:                 200px;
$sidebar-margin:                20px;
